services:
  backend:
    build: ./Server
    ports:
      - "3001:3001"
    env_file:
      - .env
    environment:
      - NODE_ENV=production
      - PORT=3001
    volumes:
      - ./Server:/app
      - /app/node_modules

  frontend:
    build: ./Client
    ports:
      - "3000:80"
    depends_on:
      - backend
    environment:
      - REACT_APP_API_URL=http://localhost:3001